In [1]:
data = [50,50,47,97,49,3,53,42,26,74,82,62,37,15,70,27,36,35,48,52,63,64]
print(data)

[50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64]

Esto es un programa, blablbla, estoy probando las marcas

In [2]:
import numpy as np

grades = np.array(data)
print(grades)

[50 50 47 97 49  3 53 42 26 74 82 62 37 15 70 27 36 35 48 52 63 64]

pase de una lista a una matriz

In [3]:
print(type(data),"x 2:",data*2)
print('---')
print(type(grades),"x 2:",grades*2)
print(grades.shape)
print(grades[0])
print(grades.mean())

<class 'list'> x 2: [50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64, 50, 50, 47, 97, 49, 3, 53, 42, 26, 74, 82, 62, 37, 15, 70, 27, 36, 35, 48, 52, 63, 64]
---
<class 'numpy.ndarray'> x 2: [100 100  94 194  98   6 106  84  52 148 164 124  74  30 140  54  72  70
  96 104 126 128]
(22,)
50
49.18181818181818

en la primera parte repito 2 veces la lista, luego va mutiplicando la matris, la shape es una matris de 22,1, print grades 0 quiere decir que llame al primer numero.

In [4]:
# Define an array of study hours
study_hours = [10.0,11.5,9.0,16.0,9.25,1.0,11.5,9.0,8.5,14.5,15.5,
               13.75,9.0,8.0,15.5,8.0,9.0,6.0,10.0,12.0,12.5,12.0]

# Create a 2D array (an array of arrays)
student_data = np.array([study_hours, grades])

# display the array
print(student_data)
# Show shape of 2D array
print(student_data.shape)

# Show the first element of the first element
print(student_data[0][0])

# Get the mean value of each sub-array
avg_study = student_data[0].mean()
avg_grade = student_data[1].mean()

print('Average study hours: {:.2f}\nAverage grade: {:.2f}'.format(avg_study, avg_grade))

[[10.   11.5   9.   16.    9.25  1.   11.5   9.    8.5  14.5  15.5  13.75
   9.    8.   15.5   8.    9.    6.   10.   12.   12.5  12.  ]
 [50.   50.   47.   97.   49.    3.   53.   42.   26.   74.   82.   62.
  37.   15.   70.   27.   36.   35.   48.   52.   63.   64.  ]]
(2, 22)
10.0
Average study hours: 10.52
Average grade: 49.18

In [5]:
import pandas as pd

df_students = pd.DataFrame({'Name': ['Dan', 'Joann', 'Pedro', 'Rosie', 'Ethan', 'Vicky', 'Frederic', 'Jimmie', 
                                     'Rhonda', 'Giovanni', 'Francesca', 'Rajab', 'Naiyana', 'Kian', 'Jenny',
                                     'Jakeem','Helena','Ismat','Anila','Skye','Daniel','Aisha'],
                            'StudyHours':student_data[0],
                            'Grade':student_data[1]})

print(df_students)

         Name  StudyHours  Grade
0         Dan       10.00   50.0
1       Joann       11.50   50.0
2       Pedro        9.00   47.0
3       Rosie       16.00   97.0
4       Ethan        9.25   49.0
5       Vicky        1.00    3.0
6    Frederic       11.50   53.0
7      Jimmie        9.00   42.0
8      Rhonda        8.50   26.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
12    Naiyana        9.00   37.0
13       Kian        8.00   15.0
14      Jenny       15.50   70.0
15     Jakeem        8.00   27.0
16     Helena        9.00   36.0
17      Ismat        6.00   35.0
18      Anila       10.00   48.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0

In [6]:
# Get the data for index value 5
print(df_students.loc[5])
# Get the rows with index values from 0 to 5
print(df_students.loc[0:5])
# Get data in the first five rows
print(df_students.iloc[0:5])
print(df_students.iloc[0,[1,2]])
print(df_students.loc[0,'Grade'])

Name          Vicky
StudyHours      1.0
Grade           3.0
Name: 5, dtype: object
    Name  StudyHours  Grade
0    Dan       10.00   50.0
1  Joann       11.50   50.0
2  Pedro        9.00   47.0
3  Rosie       16.00   97.0
4  Ethan        9.25   49.0
5  Vicky        1.00    3.0
    Name  StudyHours  Grade
0    Dan       10.00   50.0
1  Joann       11.50   50.0
2  Pedro        9.00   47.0
3  Rosie       16.00   97.0
4  Ethan        9.25   49.0
StudyHours    10.0
Grade         50.0
Name: 0, dtype: object
50.0

In [7]:
print(df_students.loc[df_students['Name']=='Aisha'])
print(df_students[df_students['Name']=='Aisha'])
print(df_students.query('Name=="Aisha"'))
print(df_students[df_students.Name == 'Aisha'])

     Name  StudyHours  Grade
21  Aisha        12.0   64.0
     Name  StudyHours  Grade
21  Aisha        12.0   64.0
     Name  StudyHours  Grade
21  Aisha        12.0   64.0
     Name  StudyHours  Grade
21  Aisha        12.0   64.0

In [9]:
import wget
url="https://raw.githubusercontent.com/MicrosoftDocs/mslearn-introduction-to-machine-learning/main/Data/ml-basics/grades.csv"
read_csv=wget.download(url)
df_students=pd.read_csv('grades.csv',delimiter=',',header='infer')
print(df_students)

         Name  StudyHours  Grade
0         Dan       10.00   50.0
1       Joann       11.50   50.0
2       Pedro        9.00   47.0
3       Rosie       16.00   97.0
4       Ethan        9.25   49.0
5       Vicky        1.00    3.0
6    Frederic       11.50   53.0
7      Jimmie        9.00   42.0
8      Rhonda        8.50   26.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
12    Naiyana        9.00   37.0
13       Kian        8.00   15.0
14      Jenny       15.50   70.0
15     Jakeem        8.00   27.0
16     Helena        9.00   36.0
17      Ismat        6.00   35.0
18      Anila       10.00   48.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0
22       Bill        8.00    NaN
23        Ted         NaN    NaN

In [10]:
print(df_students.head())

    Name  StudyHours  Grade
0    Dan       10.00   50.0
1  Joann       11.50   50.0
2  Pedro        9.00   47.0
3  Rosie       16.00   97.0
4  Ethan        9.25   49.0

In [11]:
print(df_students.isnull())

     Name  StudyHours  Grade
0   False       False  False
1   False       False  False
2   False       False  False
3   False       False  False
4   False       False  False
5   False       False  False
6   False       False  False
7   False       False  False
8   False       False  False
9   False       False  False
10  False       False  False
11  False       False  False
12  False       False  False
13  False       False  False
14  False       False  False
15  False       False  False
16  False       False  False
17  False       False  False
18  False       False  False
19  False       False  False
20  False       False  False
21  False       False  False
22  False       False   True
23  False        True   True

solo me muestra como verdadero donde no hay data

In [12]:
df_students.StudyHours = df_students.StudyHours.fillna(df_students.StudyHours.mean())
print(df_students)

         Name  StudyHours  Grade
0         Dan   10.000000   50.0
1       Joann   11.500000   50.0
2       Pedro    9.000000   47.0
3       Rosie   16.000000   97.0
4       Ethan    9.250000   49.0
5       Vicky    1.000000    3.0
6    Frederic   11.500000   53.0
7      Jimmie    9.000000   42.0
8      Rhonda    8.500000   26.0
9    Giovanni   14.500000   74.0
10  Francesca   15.500000   82.0
11      Rajab   13.750000   62.0
12    Naiyana    9.000000   37.0
13       Kian    8.000000   15.0
14      Jenny   15.500000   70.0
15     Jakeem    8.000000   27.0
16     Helena    9.000000   36.0
17      Ismat    6.000000   35.0
18      Anila   10.000000   48.0
19       Skye   12.000000   52.0
20     Daniel   12.500000   63.0
21      Aisha   12.000000   64.0
22       Bill    8.000000    NaN
23        Ted   10.413043    NaN

En vez de null pongo el promedio

In [13]:
# Get the mean study hours using to column name as an index
mean_study = df_students['StudyHours'].mean()

# Get the mean grade using the column name as a property (just to make the point!)
mean_grade = df_students.Grade.mean()

# Print the mean study hours and mean grade
print('Average weekly study hours: {:.2f}\nAverage grade: {:.2f}'.format(mean_study, mean_grade))

Average weekly study hours: 10.41
Average grade: 49.18

In [14]:
# Get students who studied for the mean or more hours
print(df_students[df_students.StudyHours > mean_study])

# What was their mean grade?
print(df_students[df_students.StudyHours > mean_study].Grade.mean())

         Name  StudyHours  Grade
1       Joann       11.50   50.0
3       Rosie       16.00   97.0
6    Frederic       11.50   53.0
9    Giovanni       14.50   74.0
10  Francesca       15.50   82.0
11      Rajab       13.75   62.0
14      Jenny       15.50   70.0
19       Skye       12.00   52.0
20     Daniel       12.50   63.0
21      Aisha       12.00   64.0
66.7

In [15]:
passes  = pd.Series(df_students['Grade'] >= 60)
df_students = pd.concat([df_students, passes.rename("Pass")], axis=1)
print(passes)

0     False
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8     False
9      True
10     True
11     True
12    False
13    False
14     True
15    False
16    False
17    False
18    False
19    False
20     True
21     True
22    False
23    False
Name: Grade, dtype: bool

Todos los que pasan los reemplaza con true

In [16]:
print(df_students)

         Name  StudyHours  Grade   Pass
0         Dan   10.000000   50.0  False
1       Joann   11.500000   50.0  False
2       Pedro    9.000000   47.0  False
3       Rosie   16.000000   97.0   True
4       Ethan    9.250000   49.0  False
5       Vicky    1.000000    3.0  False
6    Frederic   11.500000   53.0  False
7      Jimmie    9.000000   42.0  False
8      Rhonda    8.500000   26.0  False
9    Giovanni   14.500000   74.0   True
10  Francesca   15.500000   82.0   True
11      Rajab   13.750000   62.0   True
12    Naiyana    9.000000   37.0  False
13       Kian    8.000000   15.0  False
14      Jenny   15.500000   70.0   True
15     Jakeem    8.000000   27.0  False
16     Helena    9.000000   36.0  False
17      Ismat    6.000000   35.0  False
18      Anila   10.000000   48.0  False
19       Skye   12.000000   52.0  False
20     Daniel   12.500000   63.0   True
21      Aisha   12.000000   64.0   True
22       Bill    8.000000    NaN  False
23        Ted   10.413043    NaN  False

In [17]:
print(df_students.groupby(df_students.Pass).Name.count())

Pass
False    17
True      7
Name: Name, dtype: int64

nema estoy contando los nombres que pasaron

In [19]:
df_students.Grade = df_students.Grade.fillna(df_students.Grade.mean())
print(df_students)

         Name  StudyHours      Grade   Pass
0         Dan   10.000000  50.000000  False
1       Joann   11.500000  50.000000  False
2       Pedro    9.000000  47.000000  False
3       Rosie   16.000000  97.000000   True
4       Ethan    9.250000  49.000000  False
5       Vicky    1.000000   3.000000  False
6    Frederic   11.500000  53.000000  False
7      Jimmie    9.000000  42.000000  False
8      Rhonda    8.500000  26.000000  False
9    Giovanni   14.500000  74.000000   True
10  Francesca   15.500000  82.000000   True
11      Rajab   13.750000  62.000000   True
12    Naiyana    9.000000  37.000000  False
13       Kian    8.000000  15.000000  False
14      Jenny   15.500000  70.000000   True
15     Jakeem    8.000000  27.000000  False
16     Helena    9.000000  36.000000  False
17      Ismat    6.000000  35.000000  False
18      Anila   10.000000  48.000000  False
19       Skye   12.000000  52.000000  False
20     Daniel   12.500000  63.000000   True
21      Aisha   12.000000  64.000000   True
22       Bill    8.000000  49.181818  False
23        Ted   10.413043  49.181818  False

In [22]:
print(df_students.groupby(df_students.Pass)['Grade'].mean())

Pass
False    39.315508
True     73.142857
Name: Grade, dtype: float64

Float decimales e int enteros

In [23]:
# Create a DataFrame with the data sorted by Grade (descending)
df_students = df_students.sort_values('Grade', ascending=False)

# Show the DataFrame
print(df_students)

         Name  StudyHours      Grade   Pass
3       Rosie   16.000000  97.000000   True
10  Francesca   15.500000  82.000000   True
9    Giovanni   14.500000  74.000000   True
14      Jenny   15.500000  70.000000   True
21      Aisha   12.000000  64.000000   True
20     Daniel   12.500000  63.000000   True
11      Rajab   13.750000  62.000000   True
6    Frederic   11.500000  53.000000  False
19       Skye   12.000000  52.000000  False
0         Dan   10.000000  50.000000  False
1       Joann   11.500000  50.000000  False
22       Bill    8.000000  49.181818  False
23        Ted   10.413043  49.181818  False
4       Ethan    9.250000  49.000000  False
18      Anila   10.000000  48.000000  False
2       Pedro    9.000000  47.000000  False
7      Jimmie    9.000000  42.000000  False
12    Naiyana    9.000000  37.000000  False
16     Helena    9.000000  36.000000  False
17      Ismat    6.000000  35.000000  False
15     Jakeem    8.000000  27.000000  False
8      Rhonda    8.500000  26.000000  False
13       Kian    8.000000  15.000000  False
5       Vicky    1.000000   3.000000  False